<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://netvontamaservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>netvontamaservice.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>NetvonTamaService</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$NetvonTamaService</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TestDb" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:fxn655n0nl.database.windows.net,1433;Initial Catalog=TamaDb;Integrated Security=False;User ID=GoInspAdmin@fxn655n0nl;Password=&quot;De database van het project in blok 6!&quot;;Connect Timeout=30;Encrypt=True" Name="Data Source=tcp:fxn655n0nl.database.windows.net,1433;Initial Catalog=TamaDb;Integrated Security=False;User ID=GoInspAdmin@fxn655n0nl;Password=&quot;De database van het project in blok 6!&quot;;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;Initial Catalog=TamaDb;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TestDb_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=.\SQLEXPRESS;database=TamaDb;Integrated Security=True;MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ReleaseDb" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:fxn655n0nl.database.windows.net,1433;Initial Catalog=TamaDb;Integrated Security=False;User ID=GoInspAdmin@fxn655n0nl;Password=&quot;De database van het project in blok 6!&quot;;Connect Timeout=30;Encrypt=True" Name="Data Source=tcp:fxn655n0nl.database.windows.net,1433;Initial Catalog=TamaDb;Integrated Security=False;User ID=GoInspAdmin@fxn655n0nl;Password=&quot;De database van het project in blok 6!&quot;;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:fxn655n0nl.database.windows.net,1433;Initial Catalog=TamaDb;Integrated Security=False;User ID=GoInspAdmin@fxn655n0nl;Password=&quot;De database van het project in blok 6!&quot;;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ReleaseDb_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:fxn655n0nl.database.windows.net,1433;Database=TamaDb;User ID=GoInspAdmin@fxn655n0nl;Password=De database van het project in blok 6!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Tamagotchi.Service.Model.MyContext" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Tamagotchi.Service.Model.MyContext, Tamagotchi.Service" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ReleaseDb-Web.config Connection String">
      <ParameterValue>Data Source=tcp:fxn655n0nl.database.windows.net,1433;Initial Catalog=TamaDb;Integrated Security=False;User ID=GoInspAdmin@fxn655n0nl;Password="De database van het project in blok 6!";MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Tamagotchi.Service.Model.MyContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TestDb-Web.config Connection String">
      <ParameterValue>Data Source=tcp:fxn655n0nl.database.windows.net,1433;Initial Catalog=TamaDb;Integrated Security=False;User ID=GoInspAdmin@fxn655n0nl;Password="De database van het project in blok 6!";MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Tamagotchi.Service.Model.MyContext" />
  </ItemGroup>
</Project>