/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.header {
    color: white;
}

#start,
#start > .container,
#start > .container > .row {
    height: 100%;
}

.vertical-align {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

    .vertical-align > [class^="col-"],
    .vertical-align > [class*=" col-"] {
        display: flex;
        align-items: center;
        justify-content: unset;
    }

.panel-primary{
    border-color: #2C0073;
}

.panel-primary > .panel-heading{
    background-color: #2C0073;
    border-color: #2C0073;
}

@media (max-width: 991px) {
    .vertical-align > [class^="col-"],
    .vertical-align > [class*=" col-"] {
        width: 100%;
    }

    .row-box{
        width: 100%;
    }
}

.mini-header {
    display: table;
    position: relative;
    width: 100%;
    background: url(../img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    color: white;

    padding-top: 30px;
    padding-bottom: 30px;
}

.footer{
    background-color: rgba(255, 255, 255, 0.5);

    text-align: center;

    padding: 0px;

    width: 100%;
}

.footer > p{
    margin-top: 10px;
}

.hatch{
    color: white;
}

.hatch:hover,
.hatch:active{
    text-decoration: none;
    color: white;
}

.overview{
    margin-top: 20px;
}

.media,
.page-header{
    overflow-x: auto;
}
