@{
    ViewBag.Title = "Error";
}

@{
    Html.RenderPartial("PageHeader");
}

<section class="overview">
    <div class="container">

        <h2><i class="fa fa-frown-o"></i></h2>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Not found</h3>
            </div>
            <div class="panel-body">
                <p>We can't seem to find that Tamagotchi.</p>
                <p>@Html.ActionLink("Get me out of here", "Index", "Home")</p>
            </div>
        </div>
    </div>
</section>
