@{
    ViewBag.Title = "About";
}

@{
    Html.RenderPartial("_PageHeader");
}

<section class="overview">
    <div class="container">

        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">@ViewBag.Title</li>
        </ol>

        <div class="page-header">
            <h2>@ViewBag.Title</h2>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Tamagotchi Assessment</h3>
            </div>
            <div class="panel-body">
                <p>Made by <strong>Tom van Nimwegen</strong> for Avans Hogeschool.</p>

                <dl>
                    <dt>Created using</dt>
                    <dd>
                        <ul>
                            <li>.net 4.6</li>
                            <li>Entity Framework</li>
                            <li>WCF Service</li>
                            <li>Asp.net MVC 5</li>
                            <li>Bootstrap</li>
                            <li>Ninject</li>
                        </ul>
                    </dd>
                </dl>

                <dl>
                    <dt>Links</dt>
                    <dd>
                        <ul class="list-unstyled">
                            <li>
                                <a href="https://netvon.blob.core.windows.net/tamagotchi/TamagotchiConsole-v0.9.0.4.zip">
                                    <i class="fa fa-download"></i> Console Application
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/Netvon/Tamagotchi">
                                    <i class="fa fa-github"></i> GitHub Page
                                </a>
                            </li>
                        </ul>
                        
                    </dd>
                </dl>

            </div>
        </div>
    </div>
</section>
