<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITamagotchiService" />
                <binding name="BasicHttpsBinding_ITamagotchiService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://netvontamaservice.azurewebsites.net/TamagotchiService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITamagotchiService"
                contract="TamagotchiService.ITamagotchiService" name="BasicHttpBinding_ITamagotchiService" />
            <endpoint address="https://netvontamaservice.azurewebsites.net/TamagotchiService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ITamagotchiService"
                contract="TamagotchiService.ITamagotchiService" name="BasicHttpsBinding_ITamagotchiService" />
        </client>
    </system.serviceModel>
</configuration>